<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Formulario</title>
</head>
<body>

    <form action="/resultado" method="post" class="formulario">
        <label for="dni">DNI</label>
        <input type="text" name="dni" id="dni" ><br>
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" id="usuario"><br>
        <label for="contrasena">Contraseña</label>
        <input type="password" name="contrasena" id="contrasena">


        <input type="submit" value="Enviar">


    </form>
</body>
</html>